[Desktop Entry]
Type=Application
Exec=/usr/bin/snap_torol.sh
Hidden=false
X-MATE-Autostart-enabled=true
Name[hu_HU]=Régi snap csomagok törlése
Name=Régi snap csomagok törlése
Comment[hu_HU]=
Comment=
