[Desktop Entry]
Type=Application
Exec=/usr/bin/snap_torol.sh
Hidden=false
X-GNOME-Autostart-enabled=true
X-GNOME-AutoRestart=true
#X-GNOME-Autostart-Phase=Initialization

Name[hu_HU]=Régi snap csomagok törlése
Name=Régi snap csomagok törlése
Comment[hu_HU]=
Comment=
